.section-subtitle {
    width: 60%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font: 24px/34px 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0px;
    color: black;
  }