.header__title {
    color: #000000;
    justify-content: center;
    padding-left: 64px;
    max-width: 730px;
    font: bold 102px/108px 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0px;
    z-index: 2;
  }