  .page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

  .header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    

    /* выше установили ограничения для секции */
  }

  /* Блок Header*/

  .logo {
    width: 228px;
    height: 32px;
  }

  .logo_place_header {
    background-image: url(./images/logo_place_header.svg);
    position: absolute;
    left: 64px;
    top: 30px;
  }

  .header__title {
    color: #000000;
    justify-content: center;
    padding-left: 64px;
    max-width: 730px;
    font: bold 102px/108px 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0px;
    z-index: 2;
  }

  .header__subtitle {
    position: absolute;
    bottom: 30px;
    left: 64px;
    width: 388px;
    font: 18px/25px 'Helvetica Neue', 'Arial', sans-serif;
    color: #000000;
    margin: 0px;
    z-index: 2;
  }

  .header__link {
    color: #2f80ed;
    position: absolute;
    text-decoration: none;
  }

  /* картинка мальчика и собаки*/
  .header__main-illustration {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    width: 765px;
    height: 608px;
  }

  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  .header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0px;
  }

  /*Блок description*/

  .description {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }

  .two-columns {
   width: 80%;
    min-width: 784px;
    display: flex;
    justify-content: space-between;

  }

  .two-columns__brief {
    width: 175px;
    font: 18px/1.2 'Helvetica Neue', 'Arial', sans-serif;
    color: #2f80ed;
    font-style: normal;
    margin: 0px;
  }

  .two-columns__main-text {
    width: 80%;
    min-width: 784px;
  }

  .two-columns__paragraph {
    font: 24px/34px 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0px;
  }

  .two-columns__paragraph:nth-of-type(2n) {
    padding: 30px 0px 30px 0px;
  }

  .two-columns__span-accent {
    font-weight: bold;
  }

  /* Блок Digits*/

  .digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:100px 0px 100px 0px;
  }

  .section-title {
    width: 60%;
    display: flex;
    justify-content: center;
    font: 60px/1.15 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: bold;
    margin: 0px;
  
  }


  .section-subtitle {
    width: 60%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font: 24px/34px 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0px;
    color: black;
  }


  .table {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .table__heading {
    margin: 0px;
    font: 24px/1.15 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: bold;
  }

  .table__cell {
    padding-top: 60px;
    width: 250px;
  }

  .table__cell_theme_dark {
    width: 200px;
    padding-top: 80px;
    color: white;
  }

  .table__text {
    font: 18px/1.2 'Helvetica Neue', 'Arial', sans-serif;
    padding-top: 20px;
    margin: 0px;
  }

  /* Блок feynman */
  .feynman {
    min-height: 890px;
    background-color: #f2f2f2;
    background-image: url("../images/feynman.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .feynman__title {
    padding-top: 100px;
    font: 120px/1.15 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: bold;
    width: 648px;
    text-align: center;
    margin: 0px;
  }

  .feynman__subtitle {
    padding-top: 70px;
    font: 36px/51px 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0px;
  }

  .feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    font: 36px/51px 'Helvetica Neue', 'Arial', sans-serif;
    color: #2f80ed;
    text-decoration: none;
  }

  /* Блок kaufman */

  .kaufman {
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 90px 0px 90px 0px;
  }

  .section-title_theme_dark {
    color: white;
    text-align: center;
    z-index: 2;
  }

  .section-subtitle_theme_dark {
    padding-top: 20px;
    color: white;
    margin: 0px;
  }

  .table_theme_dark {
    z-index: 1;

  }

  .kaufman__triangle {
    background-image: url('../images/kaufman-triangle.svg');
    height: 877px;
    width: 877px;
    right: -210px;
    position: absolute;
    z-index: 0;
    top: 0px;
    background-size: cover;
  }

  /* Блок Footer*/

  .footer {
    background-color: #1f1f1f;
    min-height: 350px;
    display: flex;
    justify-content: center;
  }

  .footer__columns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 60px 0px 40px 0px;
  }

  .footer__column_content_copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 711px;
    justify-content: space-between;
  }

  .footer__column_content_info {
    display: flex;
    flex-direction: column;
  }

  .footer__column_content_social {
    display: flex;
    flex-direction: column;
  }

  .logo_place_footer {
    background-image: url("../images/logo_place_footer.svg");
    left: 64px;
    top: 30px;
  }

  .footer__author {
    padding: 18px 0px 18px 0px;
    margin: 0px;
    color: white;
    font: 18px/25px 'Helvetica Neue', 'Arial', sans-serif;
  }

  .footer__column-heading {
    padding-bottom: 20px;
    margin: 0px;
    color: white;
    font: 18px/30px 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: bold;
  }

  .footer__column-links {
    margin: 0px;
    list-style-type: none;
    padding: 0px 0px 16px 0px;
  }

  .footer__social-icon {
    padding-right: 10px;
    width: 16px;
    height: 16px;
  }

  .footer__column-link {
    text-decoration: none;
    color: white;
    font: 18px/30px 'Helvetica Neue', 'Arial', sans-serif;
    display: flex;
    align-items: center;
    
  }